footer {
  background: #223843;
  padding: 5em 0em;
  text-align: center;
}

.social-icons {
  width: 90%;
  margin: 0 auto;
  max-width: 15em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.75em auto 4em;
}

.social-icon {
  width: 25%;
  height: 35%;
  background: #f0f0f5;
  margin: 25px;
  border-radius: 10%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.copyright::before {
  content: "";
  display: block;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 4em auto;
  width: 25%;
}
