@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  background: #223843;
  margin: 0;
}

.nav-links {
  display: flex;
}
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}
/* Removal of decimals from un-ordered list */
.nav-links li {
  list-style: none;
}
/* Position and spacing for Navigation bar links */
.nav-links a {
  color: #a7a7a7;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 3px 0px;
  margin: 0 28px;
  position: relative;
  font-size: 1.5em;
  clear: right;
  line-height: 70px;
}
/* Navigation bar add background and change font cover on hover */
nav ul li a:hover {
  color: white;
  background-color: #9eaac7;
}
@media only screen and (max-width: 750px) {
  label {
    display: block;
    cursor: pointer;
  }
  .nav-links {
    flex: none;
    text-align: right;
    width: 100%;
    display: none;
    margin-top: 175px;
  }
  .nav-links li {
    height: 50px;
  }
  .nav-links a {
    display: block;
    margin: 0;
    font-size: 14px;
    color: rgb(68, 55, 55);
  }
  #toggle:checked + .nav-links {
    display: block;
    background-color: white;
  }
}
/* responsive for tablet*/
@media only screen and (max-width: 1450px) {
  label {
    display: block;
    cursor: pointer;
  }
  .nav-links {
    flex: none;
    text-align: right;
    width: 100%;
    display: none;
    margin-top: 175px;
  }
  .nav-links li {
    height: 50px;
  }
  .nav-links a {
    display: block;
    margin: 0;
    font-size: 14px;
    color: rgb(68, 55, 55);
  }
  /* #toggle:checked + .nav-links {
    display: block;
    background-color:white;
  } */
}
